body {
  background-color: white;
  width: 800px;
  margin: 8vh auto;
  padding: 5px;
  line-height: 1.3;
}

h1, h2, h3 {
  line-height: 1;
  font-size: 1.6rem;
}

nav {
  padding: 8px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-size: 0.9em
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0.5em 30px;
  flex-wrap: wrap;
}

.content {
  margin: auto 20px;
}

footer {
  border-top: 1px solid black;
  padding: 8px;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px 10px;
  flex-wrap: wrap;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.no-margin {
  margin: 0;
}

.reduced-margin {
  margin: .3em;
}

.no-bullets {
    list-style: none;
    padding: 0;
    margin: 0;
}

.margin-bottom {
  margin-bottom: .8em;
}

.big-margin-bottom {
  margin-bottom: 50px;
}

.big-margin-top {
  margin-top: 50px;
}
